In [ ]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt 
import math

## Run trajectory_generator.py

### demo1

Autoload modules

In [1]:
%load_ext autoreload
%autoreload 1
import sys
sys.path.append(r'D:\\CodeRepository\\Python\\IDMSImplementation')
%aimport idms_impl.trajectory_generator
%aimport idms_impl.stop_area_mining

Test Stop Area Mining

In [79]:
orig_filename = r'C:\Users\Scott\Documents\ECNU\data\20201116\9_user.csv'

usecols = ['SUBSTR(MSISDN,1,7)', 'STAT_DATE', 'STIME', 'END_TIME', 'ZH_LABEL', 'LATITUDE', 'NUMBERITUDE', 'DURATION', 'DATA_TOTAL']
name_mapper = {
    "SUBSTR(MSISDN,1,7)": "USER_ID",
    "NUMBERITUDE": "LONGITUDE",
    "DATA_TOTAL": "TOTAL_DATA"
}
%run -m idms_impl.trajectory_generator

import time

start_time = time.time()

tr_gen = TrajectoryGenerator()

tr_gen.stop_area_mining(filename=orig_filename,
                        usecols=usecols,
                        name_mapper=name_mapper,
                        nan_dur_theta=4 * 3600,
                        dist_theta=5 / 111,
                        point_dur_theta=20,
                        eps=0.0036,
                        min_dur=900)
# tr_gen.sam.load_data(filename=orig_filename)

# tr_gen.sam.format_raw_data(usecols=usecols, name_mapper={
#     "SUBSTR(MSISDN,1,7)": "USER_ID",
#     "NUMBERITUDE": "LONGITUDE",
#     "DATA_TOTAL": "TOTAL_DATA"
# })

# tr_gen.sam.check_invalid_tr(nan_dur_theta=4 * 3600, dist_theta=5 / 111)

# tr_gen.sam.gen_valid_area(point_dur_theta=20, eps=0.0036, min_dur=900)

# tr_gen.sam.df.to_csv('../data/no_invalid_area.csv', encoding='gbk', index=False)
# tr_gen.sam.merge_adjacent_points()

# tr_gen.sam.df.to_csv('../data/sam.csv', encoding='gbk', index=False)

end_time = time.time()
print(f'Finish it in {end_time - start_time}s')

Finish it in 8.049431800842285s

In [80]:
tr_gen.df

,USER_ID,STAT_DATE,STIME,END_TIME,ZH_LABEL,LATITUDE,LONGITUDE,DURATION,TOTAL_DATA,CLUSTER_ID
0,1377032,20201010,20201010010256,20201010075958,莲花新城南苑六期FD(W)-1,31.967434,118.711093,25806,2533.554688,0
1,1377032,20201010,20201010081943,20201010082011,企业加速器南四期LF-3,31.983472,118.728787,43345,194624.958984,2
2,1377032,20201010,20201010204937,20201010205111,江山大街东3DMIMO一期LD-3,31.967434,118.711093,11313,34651.035156,0
3,1377032,20201011,20201011002044,20201011002919,莲花新城南苑六期FD(W)-1,31.967434,118.711093,50614,12646.069336,0
4,1377032,20201011,20201011145242,20201011145426,华新城商业中心二期1F和2F北侧六期LE(W)-5,32.017927,118.721801,7159,576.026367,4
...,...,...,...,...,...,...,...,...,...,...
770,1870519,20201031,20201031005638,20201031005809,东渡国际青年城3#六期FD(W)-2,31.921618,118.895487,22954,15704.668945,0
771,1870519,20201031,20201031075833,20201031075913,碧云山庄二六期FD-1,32.071657,118.613613,34340,75173.943359,24
772,1870519,20201031,20201031180811,20201031184443,浦口纬三路二期LF-3,32.095958,118.689354,2192,205260.387695,33
773,1870519,20201031,20201031193626,20201031201730,诚信大道四期LD-3,31.903750,118.779801,2464,52149.913086,34
774,1870519,20201031,20201031211049,20201031211148,东渡国际青年城3#六期FD(W)-2,31.921618,118.895487,10137,71259.740234,0

In [76]:
user_grp = res.groupby(['USER_ID'], sort=False)
for uid, user in user_grp:
    
    c_grp = user.groupby(['CLUSTER_ID'], sort=False)
    for cid, cluster in c_grp:
        print(cid, cluster.LATITUDE.mean(), cluster.LONGITUDE.mean())
    break

0 31.967451852449706 118.71106705349112
2 31.983464975218656 118.72878457871718
4 32.017926666666675 118.72180095238095
3 31.988228000000003 118.700947
7 31.936890000000002 118.40028000000001
10 32.142602727272724 118.71773363636363
12 32.039263 118.753679
14 32.079789115384614 118.77775365384613
6 31.96595 118.70386
16 31.946715624999996 118.68897945833332
15 31.953953555555554 118.70498922222224
17 31.961759999999998 118.72711000000001
18 32.02398974227273 118.78648444772729
19 32.0143009 118.78173924999999
20 32.01560301000001 118.78963001000002
21 31.971302 118.79347600000001
22 32.05931583695652 118.73762566304349
23 32.07416 118.90133
1 31.98355593333333 118.71956333333334

### demo2

In [ ]:
%run ../idms_impl/data_load.py
a = np.array([31.968177, 118.711710])
b = np.array([31.967207, 118.707899])
d = get_dist(a, b)
print(type(d))
print(a, b)

## Run algorithm.py

### demo1

test groupby

In [ ]:
%run ../demo/algorithm.py

grp = df.groupby('A')
display(df)
def func(x):
    display(x)
    if x.iloc[0, 0] == 'bar':
        return x.drop(x.index)
    else:
        return x
grp.apply(func)

### demo2

test pands copy

In [ ]:
%run ../demo/algorithm.py
new_df = df
new_df is df
new_df.info()

### demo3

test subclass

In [ ]:
%run ../demo/algorithm.py

b = B('A', 12)

In [ ]:
%cd D:\\CodeRepository\\Python\\IDMSImplementation
%run demo/algorithm.py

c = C()
c.age = 1

## Scratch

### demo1

test NamedTuple

In [ ]:
from typing import NamedTuple, List
SA = NamedTuple('SA', [('left', int), ('right', int), ('dur_sum', int), ('cid', int)])
sa1 = SA(1, 2, 3, 4)
sa2 = SA(3, 4, 5, 6)
sas: List[SA] = []
sas.append(sa1)
sas

### demo2

test adjacent element in numpy

In [ ]:
a = np.array([0, 0, 0,  1, 3, 2, 2, 3, 3, 3])
# diff = np.diff(a).astype(np.bool)
# a[np.insert(np.diff(a).astype(np.bool), 0, True)]
a[:5].sum()
b = 1

### demo3

test typing

In [ ]:
from typing import Dict
D = Dict[str, str]
def func(x: D):
    print(x)

a = {
    'A': 'c'
}
func(a)

In [ ]:
a = pd.Series(np.arange(10))
a[0] = np.nan
a.fillna(value=1., inplace=True)
a

In [ ]:
a = pd.Series(np.arange(10))
a = a.astype(bool)
print(a)
b = a[a].index
b.values

In [ ]:
a = np.arange(10)
a[[1, 2, 3]]

np.sum([[2, 1], [3, 5]], where=[False, True], axis=1)