In [ ]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt 
import math

## Run data_load.py

### demo1

In [169]:
orig_filename = r'C:\Users\Scott\Documents\ECNU\data\20201116\9_user.csv'

usecols = ['SUBSTR(MSISDN,1,7)', 'STAT_DATE', 'STIME', 'END_TIME', 'ZH_LABEL', 'LATITUDE', 'NUMBERITUDE', 'DURATION', 'DATA_TOTAL']


%run ../idms_impl/data_load.py

data_load = DataLoad()

data_load.load_data(filename=orig_filename)
data_load.format_raw_data(usecols=usecols, name_mapper={
    "SUBSTR(MSISDN,1,7)": "USER_ID",
    "NUMBERITUDE": "LONGITUDE",
    "DATA_TOTAL": "TOTAL_DATA"
})
data_load.check_invalid_tr(dur_threshold=4 * 3600, dist_threshold=5 / 111)
# data_load.stop_area_mining(dur_threshold=20, eps=0.0036, min_dur=900)
res = data_load.df
res.shape

(66132, 9)

In [ ]:
res['CLUSTER_ID'].values

### demo2

In [ ]:
%run ../idms_impl/data_load.py
a = np.array([31.968177, 118.711710])
b = np.array([31.967207, 118.707899])
d = get_dist(a, b)
print(type(d))
print(a, b)

## Run algorithm.py

### demo1

test groupby

In [171]:
%run ../demo/algorithm.py

grp = df.groupby('A')
display(df)
def func(x):
    display(x)
    if x.iloc[0, 0] == 'bar':
        return x.drop(x.index)
    else:
        return x
grp.apply(func)

     A      B         C         D
0  foo    one -0.575247  1.346061
1  bar    one  0.254161  1.511763
2  foo    two -1.143704  1.627081
3  bar  three  0.215897 -0.990582
4  foo    two  1.193555 -0.441652
5  bar    two -0.077118  1.211526
6  foo    one -0.408530  0.268520
7  foo  three -0.862495  0.024580

     A      B         C         D
1  bar    one  0.254161  1.511763
3  bar  three  0.215897 -0.990582
5  bar    two -0.077118  1.211526

     A      B         C         D
0  foo    one -0.575247  1.346061
2  foo    two -1.143704  1.627081
4  foo    two  1.193555 -0.441652
6  foo    one -0.408530  0.268520
7  foo  three -0.862495  0.024580

         A      B         C         D
A
foo 0  foo    one -0.575247  1.346061
    2  foo    two -1.143704  1.627081
    4  foo    two  1.193555 -0.441652
    6  foo    one -0.408530  0.268520
    7  foo  three -0.862495  0.024580

### demo2

test pands copy

In [161]:
%run ../demo/algorithm.py
new_df = df
new_df is df
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       8 non-null      object
 1   B       8 non-null      object
 2   C       8 non-null      float64
 3   D       8 non-null      float64
dtypes: float64(2), object(2)
memory usage: 384.0+ bytes

### demo3

test subclass

In [163]:
%run ../demo/algorithm.py

b = B('A', 12)

## Scratch

### demo1

test NamedTuple

In [ ]:
from typing import NamedTuple, List
SA = NamedTuple('SA', [('left', int), ('right', int), ('dur_sum', int), ('cid', int)])
sa1 = SA(1, 2, 3, 4)
sa2 = SA(3, 4, 5, 6)
sas: List[SA] = []
sas.append(sa1)
sas

### demo2

test adjacent element in numpy

In [ ]:
a = np.array([0, 0, 0,  1, 3, 2, 2, 3, 3, 3])
# diff = np.diff(a).astype(np.bool)
# a[np.insert(np.diff(a).astype(np.bool), 0, True)]
a[:5].sum()
b = 1