In [1]:
%load_ext autoreload
%autoreload 1
import sys
sys.path.append(r'D:\\CodeRepository\\Python\\IDMSImplementation')
%aimport idms_impl.trajectory_generator
%aimport idms_impl.stop_area_mining
%aimport idms_impl.semantic_tag_conversion

In [2]:
%run ../idms_impl/poi.py
poi_gen = POIGenerator()
poi_gen.load_poi(filename=r'C:\\Users\\Scott\\Documents\\ECNU\\data\\poi\\nj_poi.csv')
poi_gen.train_data(k=4)

In [64]:
orig_filename = r'C:\Users\Scott\Documents\ECNU\data\20201116\9_user.csv'

usecols = ['SUBSTR(MSISDN,1,7)', 'STAT_DATE', 'STIME', 'END_TIME', 'ZH_LABEL', 'LATITUDE', 'NUMBERITUDE', 'DURATION', 'DATA_TOTAL']
name_mapper = {
    "SUBSTR(MSISDN,1,7)": "USER_ID",
    "NUMBERITUDE": "LONGITUDE",
    "DATA_TOTAL": "TOTAL_DATA"
}
%run -m idms_impl.trajectory_generator

import time

start_time = time.time()

tr_gen = TrajectoryGenerator()

tr_gen.stop_area_mining(filename=orig_filename,
                        usecols=usecols,
                        name_mapper=name_mapper,
                        nan_dur_theta=4 * 3600,
                        dist_theta=5 / 111,
                        point_dur_theta=20,
                        eps=0.0036,
                        min_dur=900)
end_time = time.time()
print(f'Finish it in {end_time - start_time}s')

Finish it in 8.15152645111084s

In [65]:
tr_gen.semantic_tag_conversion(theta=0.9, poi_gen=poi_gen)

In [66]:
tr_gen.df

,USER_ID,CLUSTER_ID,STAT_DATE,STIME,END_TIME,LATITUDE,LONGITUDE,DURATION,TOTAL_DATA,type,big_ctg,medium_ctg,small_ctg,name,province,city,region
0,1377032,0,20201010,20201010010256,20201010075958,31.967434,118.711093,25806,2533.554688,home,商务住宅,住宅区,住宅小区,莲花新城嘉园,江苏省,南京市,建邺区
1,1377032,2,20201010,20201010081943,20201010082011,31.983472,118.728787,43345,194624.958984,work,公司企业,公司,公司,南京试错教育科技有限公司,江苏省,南京市,建邺区
2,1377032,0,20201010,20201010204937,20201010205111,31.967434,118.711093,11313,34651.035156,home,商务住宅,住宅区,住宅小区,莲花新城嘉园,江苏省,南京市,建邺区
3,1377032,0,20201011,20201011002044,20201011002919,31.967434,118.711093,50614,12646.069336,home,商务住宅,住宅区,住宅小区,莲花新城嘉园,江苏省,南京市,建邺区
4,1377032,4,20201011,20201011145242,20201011145426,32.017927,118.721801,7159,576.026367,other,体育休闲服务,娱乐场所,棋牌室,宾馆棋牌,江苏省,南京市,建邺区
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,1870519,0,20201031,20201031005638,20201031005809,31.921618,118.895487,22954,15704.668945,home,生活服务,美容美发店,美容美发店,幻伊人美容美体,江苏省,南京市,江宁区
771,1870519,24,20201031,20201031075833,20201031075913,32.071657,118.613613,34340,75173.943359,work,公司企业,公司,公司,南京远能电力工程有限公司浦口分公司,江苏省,南京市,浦口区
772,1870519,33,20201031,20201031180811,20201031184443,32.095958,118.689354,2192,205260.387695,other,公司企业,公司,公司,江北扬子江隧道救援服务中心,江苏省,南京市,浦口区
773,1870519,34,20201031,20201031193626,20201031201730,31.903750,118.779801,2464,52149.913086,other,公司企业,公司,公司,南京善围建筑科技有限公司,江苏省,南京市,江宁区
774,1870519,0,20201031,20201031211049,20201031211148,31.921618,118.895487,10137,71259.740234,home,生活服务,美容美发店,美容美发店,幻伊人美容美体,江苏省,南京市,江宁区

In [59]:
tr_gen.stc.main_area_mining(theta=0.9)

In [60]:
tr_gen.stc.cluster_attr

                      sn   dur_sum              d   type
USER_ID CLUSTER_ID
1377032 0           21.0  858715.0   57049.663830   home
        2           15.0  619153.0  238137.694661   work
        22           3.0   96684.0  228284.142578  other
        6            1.0   42723.0  433745.323242  other
        10           1.0   34091.0  137122.463867  other
...                  ...       ...            ...    ...
1870519 5            1.0    2076.0    1552.216797  other
        22           1.0    2042.0  250869.634766  other
        17           1.0    1639.0       0.000000  other
        16           1.0    1359.0       0.000000  other
        28           1.0     958.0     872.636719  other

[160 rows x 4 columns]

In [61]:
tr_gen.stc.semantic_tag_conversion(poi_gen=poi_gen)

In [62]:
tr_gen.stc.df

,USER_ID,CLUSTER_ID,STAT_DATE,STIME,END_TIME,LATITUDE,LONGITUDE,DURATION,TOTAL_DATA,type,big_ctg,medium_ctg,small_ctg,name,province,city,region
0,1377032,0,20201010,20201010010256,20201010075958,31.967434,118.711093,25806,2533.554688,home,商务住宅,住宅区,住宅小区,莲花新城嘉园,江苏省,南京市,建邺区
1,1377032,2,20201010,20201010081943,20201010082011,31.983472,118.728787,43345,194624.958984,work,公司企业,公司,公司,南京试错教育科技有限公司,江苏省,南京市,建邺区
2,1377032,0,20201010,20201010204937,20201010205111,31.967434,118.711093,11313,34651.035156,home,商务住宅,住宅区,住宅小区,莲花新城嘉园,江苏省,南京市,建邺区
3,1377032,0,20201011,20201011002044,20201011002919,31.967434,118.711093,50614,12646.069336,home,商务住宅,住宅区,住宅小区,莲花新城嘉园,江苏省,南京市,建邺区
4,1377032,4,20201011,20201011145242,20201011145426,32.017927,118.721801,7159,576.026367,other,体育休闲服务,娱乐场所,棋牌室,宾馆棋牌,江苏省,南京市,建邺区
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,1870519,0,20201031,20201031005638,20201031005809,31.921618,118.895487,22954,15704.668945,home,生活服务,美容美发店,美容美发店,幻伊人美容美体,江苏省,南京市,江宁区
771,1870519,24,20201031,20201031075833,20201031075913,32.071657,118.613613,34340,75173.943359,work,公司企业,公司,公司,南京远能电力工程有限公司浦口分公司,江苏省,南京市,浦口区
772,1870519,33,20201031,20201031180811,20201031184443,32.095958,118.689354,2192,205260.387695,other,公司企业,公司,公司,江北扬子江隧道救援服务中心,江苏省,南京市,浦口区
773,1870519,34,20201031,20201031193626,20201031201730,31.903750,118.779801,2464,52149.913086,other,公司企业,公司,公司,南京善围建筑科技有限公司,江苏省,南京市,江宁区
774,1870519,0,20201031,20201031211049,20201031211148,31.921618,118.895487,10137,71259.740234,home,生活服务,美容美发店,美容美发店,幻伊人美容美体,江苏省,南京市,江宁区

In [63]:
tr_gen.stc.df.to_csv('../data/9_user_with_flag_new.csv', encoding='gbk',index=False)